body {
	font-size: 13px;
	line-height: 20px;
	color: gray;
	margin: 0px 0px 30px 0px;
	padding: 0px;
	background-color: #EBEBEB;
	border-bottom: 1px solid #e8e8e8;
}

.top-bar {
	padding: 7px;
	padding-left: 15px;
	background-color: #F1F1F1;
	height: 50px;
}

.top-bar h3 {
	margin: 5px 0px 0px 0px;
	float: left;
}

.social-coding-buttons {
	margin-top: 7px;
	float: right;
}

.page {
	margin-top: 30px;
	padding: 23px 0px 23px 23px;
	background-color: #F1F1F1;
}

body, h2, h3, h4, h5, h6, h7 {
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, h7 {
	text-transform: uppercase;
}

a {
	color: gray;
}

a.highlight:hover {
	text-decoration: underline;
}

::-webkit-input-placeholder {
	color:    #DACFCC;
}
:-moz-placeholder {
	color:    #DACFCC;
}
::-moz-placeholder {
	color:    #DACFCC;
}
:-ms-input-placeholder {
	color:    #DACFCC;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open
.dropdown-toggle.btn-primary {
	background: #34bbea;
}

.dropdown {
	text-transform: uppercase;
}

.dropdown > a:hover {
	color: #4D4D4D;
	text-decoration: none;
}

.dropdown.open > a {
	color: #29ABE2;
	text-decoration: none;
}

.dropdown.open > a > .caret {
	border-top: 4px solid #29ABE2;
}

.dropdown-menu {
	border-radius: 0px;
	text-transform: uppercase;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.dropdown-menu > li > a {
	color: gray;
}

.dropdown-menu > li > a:hover {
	background-color: #29ABE2;
	color: white;
}

.dropdown-header {
	color: #D3D3D3;
}

.form-control,
.tinynav {
	border: solid 1px #999999;
	padding-left: 15px;
	color: #808080;
	height: 40px;
	font-size: 13px;

	border-radius: 0px !important;
	box-shadow: none !important;
	transition: none;
	-webkit-trasition: none;
	outline: none;
}

.form-control:focus,
.tinynav1:focus {
	padding-left: 14px;
	border: solid 2px #29ABE2 !important;
}

input[type="text"]:hover,
.tinynav1 {
	border-color: #808080;
}

.pagination {
	margin: 0px;
	float: right;
}

.pagination,
.pagination a {
	color: gray;
}

.pagination > li > a,
.pagination > li > span {
	border: none;
	background-color: transparent;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
	padding-left: 0px;
	text-align: left;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
	padding-right: 0px;
	text-align: right;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: transparent;
	border-color: transparent;
	color: #29ABE2;
	font-family: Verdana, sans-serif;
	font-weight: 600;
}

.pagination > li > a:hover,
.pagination > li > span:hover {
	background-color: transparent;
	border-color: transparent;
}

.pagination > li > a:hover {
	color: #4D4D4D;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #4d4d4d;
}

span.highlight,
a.highlight {
	color: #29ABE2;
	font-family: Verdana, sans-serif;
	font-size: 16px;
}

.contentHeader {
	color: gray;
	font-size: 15px;
}

.contentHeader .highlight {
	color: #29ABE2;
	font-family: Verdana, sans-serif;
	font-weight: 600;
}

.contentHeader a {
	color: gray;
}

.contentHeader .caret {
	border-top: 4px solid gray;
}

.cover-view {
	margin: 0px;
	padding: 0px;
}

.cover-view > li {
	float: left;
	width: 196px;
	margin: 0 15px 50px 0px;
}

.cover-view a:hover {
	color: #808080;
}

.cover-view li p {
	margin: 0px;
	padding: 0px;
}

.cover-view .name {
	margin-top: 15px;
	color: #4D4D4D;
	font-size: 17px;
	font-family: sans-serif;
	font-weight: lighter;
}

.cover-view .price {
	margin-top: 5px;
	font-size: 16px;
}

.cover-view .cover-holder {
	position: relative;
	background-color: #EBEBEB;
}

.cover-view .coverBadge {
	position: absolute;
	height: 30px;

	width: 100%;
	background-color: #29ABE2;
	color: white;
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.95;
}

.cover-view .cover-holder:hover .coverBadge {
}

.cover-view img,
.cover-view .cover-holder {
	height: 280px;
	width: 100%;
}

.cover-view p {
	text-align: center;
	margin-top: 25px;
}

.cover-view.wide > li {
	width: 268px;
	height: 360px;
}

.cover-view.wide img {
	height: 340px;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.cover-view > li {
		width: 159px;
		height: 300px;
	}
	.cover-view img,
	.cover-view .cover-holder {
		height: 238.5px;
	}

	.cover-view.wide > li {
		width: 217px;
	}

	.cover-view.wide img,
	.cover-view.wide .cover-holder {
		height: 325.5px;
	}
}

@media (min-width: 767px) and (max-width: 992px) {
	.cover-view > li {
		width: 162px;
		height: 300px;
	}
	.cover-view img,
	.cover-view .cover-holder {
		height: 235px;
	}

	.cover-view.wide > li {
		width: 222px;
		height: 360px;
	}

	.cover-view.wide img,
	.cover-view.wide .cover-holder {
		height: 330px;
	}
}

@media (min-width: 500px) and (max-width: 767px) {
	.cover-view {
	}
	.cover-view > li,
	.cover-view.wide > li {
		width: 140px;
		height: 300px;
	}
	.cover-view img,
	.cover-view .cover-holder,
	.cover-view.wide img,
	.cover-view.wide .cover-holder {
		height: 220px;
	}
}

@media (max-width: 500px) {
	.cover-view {
	}
	.cover-view > li,
	.cover-view.wide > li {
		width: 142.5px;
		height: 290px;
	}
	.cover-view img,
	.cover-view .cover-holder,
	.cover-view.wide img
	.cover-view.wide .cover-holder, {
		height: 220px;
	}
}